/* mobile version*/
body {
    background: linear-gradient(329.54deg, #846bc0 0%, #5a1ebb 100%);
    font-family: "verdana", "arial", sans-serif;
    margin: 0;
    padding: 0;
    color: #d3d3d3;
}

.container {
    width: 95%;
    margin: auto;
    box-sizing: border-box;
    min-height: 100vh;
}

aside {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

aside h6{
    display: none;
    margin-bottom: auto;
    padding: 0;
}

aside h3 {
    color: #d3d3d3;
}

main button {
    width: 100px;
    height: 30px;
    text-decoration: none;
    background: #8fbef3;
    border: none;
    border-radius: 16px;
    color: black;
    font-size: 14px;
    margin: auto;
    margin-top: 10px;
}

main {
    text-align: center;
}

button:active {
    background: #4a97f0;
}

.sair {
    width: 100px;
    height: 24px;
    padding-top: 6px;
    text-decoration: none;
    background: #8fbef3;
    border: none;
    border-radius: 16px;
    color: black;
    font-size: 14px
}

.sair:active {
    background: #4a97f0;
}

.transcription {
    background: #dad3e6;
    width: 100%;
    height: 460px;
    margin: auto;
    overflow-y: scroll;
}

.link {
    text-decoration: none;
}

/* desktop version */
@media (min-width: 760px) {

    body {
        background: #dad3e6;
        font-family: "verdana", "arial", sans-serif;
    }

    .container {
        align-items: center;
        min-height: 100vh;
        padding: 0;
        margin: 0;
    }

    aside {
        background: linear-gradient(329.54deg, #846bc0 0%, #5a1ebb 100%);
        position: fixed;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        font-size: 24px;
    }

    main button {
        width: 100px;
        height: 30px;
        text-decoration: none;
        background: #8fbef3;
        border: none;
        border-radius: 16px;
        color: black;
        font-size: 14px;
        margin: 0;
        margin-top: 10px;
    }

    aside h6{
        display: block;
    }

    main {
        height: 200vh;
        width: 800px;
        margin: auto;  
        align-items: center;
        padding-top: 20px;
        margin-left: 400px;
        border-radius: 8px;
        background: white;
    }

    .transcription {
        background: #dad3e6;
        width: 700px;
        height: 570px;
        overflow-y: scroll;
    }

    .sair {
        margin-bottom: 40px;
    }

    button:hover {
        background: #4a97f0;
        cursor: pointer;
        transition: background-color 0.5s;
    }

    .sair:hover {
        background: #4a97f0;
        cursor: pointer;
        transition: background-color 0.5s;
    }

    html {
        overflow-y: hidden;
    }

    h3 {
        color: #d3d3d3;
    }

    p {
        text-align: justify;
        font-size: 20px;
        color: black;
        padding: 10px 10px 10px 10px;
    }

}